
<ion-card>
  <ion-card-header>
    <ion-card-title>Canada Status</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <h3>
        Date: {{ filteredData[0]?.date  }}
      </h3>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <h2>Total Cases:</h2>
            </ion-card-header>
            <ion-card-content>
                {{ filteredData[0]?.totalcases }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <h2>Total Deaths:</h2>
            </ion-card-header>
            <ion-card-content>
                {{ filteredData[0]?.numdeaths }}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card-content>
</ion-card>

