
<ion-card>
  <ion-card-header>
    <ion-card-title>Canada Status</ion-card-title>
  </ion-card-header>
  <ion-card-content>

    <div *ngFor="let item of filteredData">
      <h3>
        Date:{{ item.date }}
      </h3>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <h2>Total Cases:</h2>
            </ion-card-header>
            <ion-card-content>
              <div *ngFor="let item of filteredData">
                {{ item.totalcases }}
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <h2>Total Cases:</h2>
            </ion-card-header>
            <ion-card-content>
              <div *ngFor="let item of filteredData">
                {{ item.totaldeaths }}
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card-content>
</ion-card>

